/************************** Global ***************************/

:root {

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    --shadow-color: hsl(213, 47%, 67%, 50%);
    --bg-color: rgb(248, 248, 248);

}

.text-preset-1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.25px;
}

.text-preset-2 {
    font-weight: 200;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.25px;
}

.text-preset-3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0;
}

.text-preset-4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.1px;
}

.text-preset-5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.09px;
}


.text-preset-Mobile-4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.1px;
}

.text-preset-Mobile-1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.25px;
}

.text-preset-Mobile-2 {
    font-weight: 200;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.25px;
}






/********************* Standard Resets ***********************/


*,
*::before,
*::after {
    /* Ensures padding & border remain within element's size */
    box-sizing: border-box;
}

* {
    /* Remove browser's default margin, padding, and font settings */
    margin: 0;
    padding: 0;
    /* Ensures forms, buttons, etc., match the document font */
    font: inherit;
}

img,
picture,
svg,
video {
    /* Prevents inline spacing issues */
    display: block;
    /* Ensures media scales within parent container */
    max-width: 100%;
}

/********************** Test & Debug *************************/

/* * {
    outline: 1px solid green;
    background-color: hsl(155, 68%, 71%);
} */

/*************************************************************/

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color)
}

main {
    margin-top: 56px;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    max-width: 314px;
    text-align: center;
    color: var(--grey-500);
}


.eyebrow {
    /*text-preset-Mobile-2*/
    font-weight: 200;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.25px;
}

header h1 {
    /*text-preset-Mobile-1*/
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
}

.header-blurb {
    margin-bottom: 60px;
    /*text-preset-Mobile-4*/
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.1px;
}


.supervisor {
    border-top: 4px solid var(--cyan);
    grid-area: super;
}

.team-builder {
    border-top: 4px solid var(--red);
    grid-area: team;
}

.karma {
    border-top: 4px solid var(--orange);
    grid-area: karma;
}

.calculator {
    border-top: 4px solid var(--blue);
    grid-area: calc;
}


article {
    background-color: var(--white);
    border-radius: 8px;
    max-width: 314px;
    padding: 32px;
    margin-bottom: 32px;
    box-shadow: 0px 15px 20px -11px var(--shadow-color);

}

article h2 {
    color: var(--grey-500);
    /*text-preset-3*/
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0;
    margin-bottom: 2px;
}

article p {
    color: var(--grey-400);
    /*text-preset-5*/
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.09px;
    margin-bottom: 32px;
}

article img {
    margin-left: auto;
    margin-bottom: 15px;
}


footer {
    margin-top: 1rem;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}



.attribution a:hover,
.attribution a:focus {
    outline: none;
    background-color: var(--orange);
}


/************************ Responsive *************************/

/* Tablet (min-width: 650px) */
@media (min-width: 650px) {

    .eyebrow {
        /*text-preset-2*/
        font-weight: 200;
        font-size: 36px;
        line-height: 140%;
        letter-spacing: 0.25px;
    }

    header {
        max-width: 540px;
    }

    header h1 {
        /*text-preset-1*/
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        letter-spacing: 0.25px;
    }


    .header-blurb {
        margin-bottom: 72px;
        /*text-preset-Mobile-4 = text-preset-4*/
    }

    .grid-wrapper {
        display: grid;
        gap: 32px;
        grid-template-areas:
            /* requires 4 columns, and 3 rows */
            ".     super  super   ."
            "team  team   karma   karma"
            ".     calc   calc    .";
    }

    article {
        margin-bottom: 0;
    }

}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {

    .grid-wrapper {
        display: grid;
        gap: 32px;
        grid-template-areas:
            /* requires 3 columns, and 4 rows */
            "....   team   ...."
            "super  team   calc"
            "super  karma  calc"
            "....   karma  ....";

        article {
            max-width: 350px;
        }

    }
}